################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/db/__pycache__
/model/__pycache__
/util/__pycache__
/view/__pycache__
/venv
*.log*
*.gz
*.pyc